$colorBlue: #2244aa;

.albumsList {
  display: flex;
  flex-direction: column;
  padding-inline-start: 20px;

  &Item::marker {
    content: '';
  }
  &Link {
    color: $colorBlue;
    text-decoration: none;
  }
  &Title {
    margin: 10px 0;
    font-size: 2rem;
  }
}
