/* .wrapper {
  width: 400px;
  height: 200px;
} */

.img {
  display: block;
  width: 100%;
  height: 100vh;
  /* height: inherit; */
  /* object-fit: cover;
  object-position: center; */
}

.textwall {
  column-gap: 20px;
  column-rule: 2px dotted dodgerblue;
  /* column-width: 250px; */
  /* column-count: 3; */
  columns: 250px 3;
}
