* {
  font-size: 24px;
}

.main-heading {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.text {
  color: orange;
  font-size: 24px;
}

.text::first-line {
  background-color: yellow;
}

.text::selection {
  background-color: deeppink;
  color: wheat;
}

.stylized,
.text::first-letter {
  font-size: 80px;
  color: red;
  font-style: italic;
}

.text::before,
.text::after {
  display: inline-block;
  background-color: limegreen;
  position: absolute;
}

.text::before {
  /* no content - no styles */
  content: "<3";
  /* content: open-quote; */
}

.text::after {
  /* content: close-quote; */
  content: "???";
}

input::placeholder {
  font-style: italic;
  font-weight: 300;
}
