.test {
  transform: translate(100px, 200px) scale(2) rotate(45deg);
}

.test3dWrapper {
  perspective: 1000px;
}

.test3d {
  /* transform: rotateX(30deg) rotateY(60deg); */
  transform: translate3d(100px, 200px, -100px);
}

button {
  transition: 0.5s;
}

button:hover {
  transform: scale(1.25);

}